/* Self-hosted variable fonts (latin subset).
   Body:    Source Serif 4  — designed for long-form reading
   UI:      Inter          — clean, neutral headings and chrome
   Code:    JetBrains Mono — high legibility, clear glyph shapes
   All are OFL-licensed and served locally (no external font requests). */

@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("source-serif-4-latin-wght-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Source Serif 4";
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url("source-serif-4-latin-wght-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("inter-latin-wght-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("inter-latin-wght-italic.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("jetbrains-mono-latin-wght-normal.woff2") format("woff2");
}
